@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Press+Start+2P&family=Saira+Stencil+One&family=Nunito:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Light Mode (Default) */

  --font-title: 'Saira Stencil One', sans-serif;
  --font-body: 'Nunito', sans-serif;
  --font-mono: 'Press Start 2P', monospace;
  --font-default: 'Roboto', sans-serif;

  --vaporwave-light-blue: #93ceff;
  --vaporwave-blue: #01cdfe;
  --vaporwave-dark-blue: #015e7e;

  --vaporwave-dark-pink: #df3ea6;
  --vaporwave-pink: #d660ad;
  --vaporwave-light-pink: #f389ce;

  --vaporwave-light-purple: #ac5cf1;
  --vaporwave-purple: #714499;
  --vaporwave-dark-purple: #481c70;

  --vaporwave-light-cyan: #5cf8bc;
  --vaporwave-cyan: #1cdf94;
  --vaporwave-dark-cyan: #125e43;

  --vaporwave-light-yellow: #dfda7e;
  --vaporwave-yellow: #d4d04e;
  --vaporwave-dark-yellow: #b9ac18;

  --vaporwave-white: #ffffff;
  --vaporwave-light-grey: #acacac;
  --vaporwave-grey: #818181;
  --vaporwave-dark-grey: #3f3f3f;
  --vaporwave-darker-grey: #333333;
  --vaporwave-black: #000000;

  /* --bg-gradient: linear-gradient(to bottom, var(--vaporwave-white), var(--vaporwave-white), var(--vaporwave-light-blue), var(--vaporwave-blue), var(--vaporwave-dark-blue)); */
  --bg-gradient: linear-gradient(to bottom, var(--vaporwave-white));
  
  --title-1: var(--vaporwave-dark-blue);
  --title-2: var(--vaporwave-pink);
  --title-3: var(--vaporwave-dark-purple);
  --title-4: var(--vaporwave-dark-yellow);

  --text-default: var(--vaporwave-black);
  --body-text-1: var(--vaporwave-dark-cyan);
  --body-text-2: var(--vaporwave-dark-blue);
  --button-bg: var(--vaporwave-purple);
  --button-hover-bg: var(--vaporwave-dark-pink);
  --button-text: var(--vaporwave-pink);
  --button-hover-text: var(--vaporwave-light-dark-purple);

}

/* DARK MODE */
.dark {

  --bg-gradient: linear-gradient(to bottom, var(--vaporwave-black), var(--vaporwave-black), var(--vaporwave-dark-purple), var(--vaporwave-dark-purple));
  
  --title-1: var(--vaporwave-blue);
  --title-2: var(--vaporwave-light-pink);
  --title-3: var(--vaporwave-light-cyan);
  --title-4: var(--vaporwave-light-purple);

  --text-default: var(--vaporwave-white);
  --body-text-1: var(--vaporwave-cyan);
  --body-text-2: var(--vaporwave-light-purple);
  --button-bg: var(--vaporwave-pink);
  --button-hover-bg: var(--vaporwave-dark-pink);
  --button-text: var(--vaporwave-purple);
  --button-hover-text: var(--vaporwave-light-purple);
}

.bg-vaporwave-gradient {
  background: var(--bg-gradient);
}

body {
  background-color: var(--bg-gradient);
  color: var(--text-default);
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  color: var(--title-1);
  font-family: var(--font-default);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg);
}

code,
pre {
  font-family: var(--font-mono);
}

/* Custom Classes */
.title-1 {
  color: var(--title-1);
}

.title-2 {
  color: var(--title-2);
}

.title-3 {
  color: var(--title-3);
}

.title-4 {
  color: var(--title-4);
}

.text-default {
  color: var(--text-default);
}

.body-text-1 {
  color: var(--body-text-1);
}

.body-text-2 {
  color: var(--body-text-2);
}

.button-bg {
  color: var(--button-bg);
}

.button-hover-bg {
  color: var(--button-hover-bg)
}

.button-text {
  color: var(--button-text)
}

.button-hover-text {
  color: var(--button-hover-text)
}

/* Vaporwave Colors */
/* Blue */
.vaporwave-light-blue {
  color: var(--vaporwave-light-blue);
}
.vaporwave-blue {
  color: var(--vaporwave-blue);
}
.vaporwave-dark-blue {
  color: var(--vaporwave-dark-blue);
}

/* Pink */
.vaporwave-light-pink {
  color: var(--vaporwave-light-pink);
}
.vaporwave-pink {
  color: var(--vaporwave-pink);
}
.vaporwave-dark-pink {
  color: var(--vaporwave-dark-pink);
}

/* Purple */
.vaporwave-light-purple {
  color: var(--vaporwave-light-purple);
}
.vaporwave-purple {
  color: var(--vaporwave-purple);
}
.vaporwave-dark-purple {
  color: var(--vaporwave-dark-purple);
}

/* Cyan */
.vaporwave-light-cyan {
  color: var(--vaporwave-light-cyan);
}
.vaporwave-cyan {
  color: var(--vaporwave-cyan);
}
.vaporwave-dark-cyan {
  color: var(--vaporwave-dark-cyan);
}

/* Yellow */
.vaporwave-light-yellow {
  color: var(--vaporwave-light-yellow);
}
.vaporwave-yellow {
  color: var(--vaporwave-yellow);
}
.vaporwave-dark-yellow {
  color: var(--vaporwave-dark-yellow);
}

/* Customized CSS */

@keyframes beamMove {
    0% {
      transform: translateX(-100vw);
      opacity: 1;
    }

    100% {
      transform: translateX(100vw);
      opacity: 1;
    }
  }

  .animate-beam {
    animation: beamMove 2s linear infinite;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-direction: normal;

    /* Wait for 5s before restarting */
    animation-duration: 10s;
  }