
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-gray-900 bg-white dark:bg-gray-900 dark:text-gray-100;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.border-brackets {
  @apply border-t-4 border-b-4 rounded-xl dark:border-gray-700
}

.border-brackets-horz {
  @apply border-l-4 border-r-4 rounded-xl dark:border-gray-700
}

.full-border {
  @apply border-4 rounded-xl dark:border-gray-700
}
